<h1>Introduction</h1>

<p>
	Squirrels are not pets. Squirrels are happy in their natural environment
	not spending the rest of their lives caged, that is why rehabbed babies should be
	released when mature. Before you decide you want to rehab baby squirrels do your
	homework. There are some great sites out there done by professionals that will give
	you a tremendous amount of significant information. Baby squirrels are high maintenance and require lots
	of care so if you feel like waking up every 2-3 hours at night for a few weeks to feed
	them is too much for you, please contact a rehabber. It takes commitment and if done wrong
	your story could have a sad ending. However, if you decide to make the effort I
	can assure you it will be well worth it and you will be rewarded with lots of squirrel
	love <!--heart and smiley face-->.
</p>

<p>
	My site is meant to walk you through main steps and help you understand how
	amazing and rewarding it all feels in the end. I am not a rehhaber and strongly
	advise you to contact one. It is important you follow each and one of the steps they advise you to.
	I admire the great work, love and devotion they all put into saving the orphan baby squirrels!
</p>

<h1>Urgent care</h1><!--find a sign like a red cross-->

<h2>Get the baby warm and check for wounds</h2>

<p>
	Before trying to rehydrate a young squirrel it's important you slowly get him warm to avoid overheating.
	Find a box, lay a heating pad in it, on top of the heating pad lay a towel or soft fabric then put the
	baby on it. Do not place the young squirrel directly on the heating pad, this way you will avoid ovearheating. Make sure
	you monitor his body's temperature, it needs to be somewhere around 90 degrees(close to our body temperature).
	Also, if your baby layed on the ground for a while before you found him make sure there are no fly eggs on
	his body(check inside his ears also). The reason I suggest it is because when we found our baby squirrel
	his body was covered with hundreads of fly eggs. Now it is important you check for wounds.
	Some young squirrels can get hurt when they fall off trees or can be attacked by cats, dogs, or other
    predators. Check for scratches, fractures or any signs of injuries.
</p>

<h2>Hydration</h2>

<p>
	Next step is redydrating the baby. Feeding a young squirrel when dehydrated could kill him.
	The best option is Pedialyte (get the plain kind), slightly warm it up  and
	give small amounts every 15-20 minutes for about 2-3 hours. Sometimes a squirrel can be extremely dehydrated
	and you can determine it by gently pinching the skin behind the shoulders. If the skin relaxes right away, the baby
	is ready for feeding, if the skin takes a while to relax keep rehydrating up to 12 hours or until skin becomes elastic.
	Some of you might not have access to Pedialyte right away, in this case a sugar, salt and water solution can be made fast. Mix
	1 qt water, 1 tsp salt and 3 tsp sugar and make sure it's slightly warm(check the temperature on your wrist to avoid burning).
	Always use a small seringe to feed a young squirrel, a large amount of formula or Pedialyte can get into the baby's lungs and
 	sufocate him.
</p>

<h1>Feeding</h1>

<p>
	Now that your baby is warm and hydrated it's time for formula. Remember to always use a small seringe that allows you to
	control the amount and avoid suffocation. The right formua is Esbilac Powder Milk Replacer( find it at Petco). This
	type of formula resembles mother squirrel milk and will give your baby the best chance to survive. Must get the powder not
	the fluid. I remember running into the store the day Munchie was found and as soon as I saw the price got a bit discuraged and
	tried to find a cheaper alternative. Now if you want to do it right and have a healthy baby squirrel buy the right food, it's the
	right thing to do and few extra dollars will make a huge difference for your baby's health.

</p>

<h3>How to mix formula?</h3>

<p>
	Mix 2 parts of water, 1 part of Esbilac Powder and 1/4 part of heavy whipping cream. Warm up only the amount you will be using
	for feeding and refrigerate the rest. In the begining you will add water to the formula then slowly decrease the amount
	until you reach full strength formula. The reason for this is to avoid any reactions to the new food.
</p>

<table style="width: 100%" border="1">
	<tr>
		<th>Feeding #1</th>
		<th>Feeding #2</th>
		<th>Feeding #3</th>
		<th>Feeding #4</th>
		<th>Feeding #5</th>
		<th>Feeding #6</th>
	</tr>
	<tr>
		<td>1/2 cc formula + 2  1/2 cc water</td>
		<td>1 cc formula + 2 cc water</td>
		<td>1 1/2 cc formula + 1 1/2 water</td>
		<td>2 cc formula + 1 cc water</td>
		<td>2 1/2 cc formla + 1/2 cc water</td>
		<td>Formula only</td>
	</tr>
</table>

<p>
	By now your baby squirrel should have a decent appetite and go to sleep satisfied. For better hydration you can
	give 1-2 cc's of water between feedings.
</p>

<h3>Attention!</h3>

<p>
	Baby squirrels do not urinate or defecate on their own. The mother stimulates by licking the babies genitals.
	It sure sounds disgusting but that is the way squirrels keep their young clean and avoid diaper rashes.
	You will need to do it after every feeding until 6 weeks old or your baby can develop uremic poisoning.
	To stimulate a baby squirrel you can use a soft cloth ar simply cotton balls.
</p>

<h3>How often should I feed my baby?</h3>

<h4>0-2 weeks</h4>

<ul>
	<li>feed formula every 2 hours(I woke up twice every night)</li>
	<li>0.5 to 1 cc per feeding </li>
</ul>

<h4>2-3 weeks</h4>

<ul>
	<li>feed formula every 3 hours(twice every night)</li>
	<li>2-3 cc's per feeding-increase 1cc every week</li>
</ul>

<h4>3-4 weeks</h4>

<ul>
	<li>feed formula every 3 hours(twice every night)</li>
	<li>3-4 cc's per feeding</li>
</ul>

<h4>4-6 weeks</h4>

<ul>
	<li>feed formula every 4 hours(I stopped night feeding around 5 weeks)</li>
	<li>4-6 c's per feeding-increase with 1 cc every week</li>
</ul>

<h4>6-7 weeks</h4>

<ul>
	<li>formula amount will increase to 6-8 cc's per feeding as long as the stool remains firm(soft stool indicates overfeeding)</li>
	<li>introduce Zupreem primate chow(find online)</li>
	<li>fruit, 1-2 slices of avocado</li>
</ul>

<h4>7-9 weeks</h4>

<ul>
	<li>feed formula 3 times a day as much as the baby wants.</li>
	<li>Zupreem primate chow</li>
	<li>fruit, avocado, broccoli, green beans(no sweet potatoe or corn)</li>
</ul>

<h4>9-10 weeks</h4>

<ul>
	<li>formula twice a day</li>
	<li>all the food listed above plus sweet potatoe and corn</li>
	<li>you can add other fruit</li>
</ul>

<h4>10-12 weeks</h4>

<ul>
	<li>baby will reject formula</li>
	<li>you can add 2 pecans a day and sunflower seeds</li>
	<li>slowly introduce nuts but in moderation</li>
</ul>

<h4>Attention!</h4>

<p> Squirrels preffer nuts, seeds and corn to fruits and vegetables but it's just like feeding candy to a child.
	A diet that is high in nuts, seeds and corn is low in calcium. Your baby squirrel will develop MBD
	(Metabolic Bone Disease) and die if the condition is not treated. DO NOT ignore this warning, MBD is a serious
	condition! Make sure you maintain a diet that is high in phosphorous(fruit and vegetables) and of course small amounts
	of nuts, seeds and corn. Zupreem primate chow will provide the nutrients a squirrel needs, it is wise to always have it around.
	Also a squirrel will not eat old fruit and vegetables. Yes, squirrels are picky<!--smiley face-->!
</p>


<h1>Housing</h1>

<p>
	For the first 6 weeks Munchie lived in a big carton box, he slept most of the time. As squirrels open eyes and mature
	will become more and more active, always willing to explore and play. Their teeth keep growing and some love to bite. I decided to
	get Munchie his first toy at around 7 weeks. The small wooden cube made my Munchie incredibly happy and he decide to leave my
	furniture alone<!--smiley face-->. At 8 weeks we got him a small nesting house and placed it in a large cage. As he was growing,
	had plenty of room to play, climb and get familiar with his new home. Make sure the cage is safe for predators as you will
	have to move it outside 3 days prior to your baby's release. Also place water and food in a corner.
</p>

<h1>Releasing a baby squirrel</h1>

<p>
	I know, it's sad but it's time you do what's best for your baby squirrel. I am sure by now you are completely in love
	with your "non stop, happy, cute, little fur ball". We have to remember that squirrels are not pets, and will never be happy
	if caged for long periods of time. Mature squirrels that spent years in cages sometimes become aggresive, very unhappy and
	unable to survive on their own. At around 14-15 weeks, check the weather forecast and look for 3-4 nice days in a row.
	Move the cage outside, the nesting box has to be inside and of course your baby squirrel. Find a place in the shade,
	close to the souse and place the cage where you can watch. The baby squirrel needs 3 days to get confortable with outside temperature
	and noises. Keep the door closed to protect him from predators. On a fourth day, open the cage and allow the baby to get out and explore.
	Leave the cage outside until the baby stops using it.
</p>

<p>
	Some baby squirrels will stick around for a longer period of time then others. Since they don't know how to survive yet, make sure you place fresh food
	and water in the nesting box every day. You can place the nesting box somewere high (preferable in a tree) because squirrels feel safe up in trees not when
	on the ground. Munchie used the nesting box as his house for a while. Every day he ventured farther and farther away and became stronger
	and more confident. Some of the baby squirrels will stay around the house, others will move in different areas. Sometimes they will remember
	their adoptive parents and stop by for a tasty snack. You will feel sad in the beginning and miss them but every time they come back you will
	also feel so happy and proud of your baby. You should also feel proud of yourseld for doing such an amazing job<!--smiley face-->.
</p>


