<h1>Contact Us</h1>

<p>Coming soon...</p>
<!-- <h1>Contact Us</h1>

<form class="vertical" action="/" method="get">
 	<label>
 		<span>first name</span>
 	 	<input type="text" name="firstName">
 	</label>

 	<label>
 		<span>subject</span>
	 	<select name="subject">
		 	<option></option>
		 	<option value="urgentcare">Urgent Care</option>
		 	<option value="nutrition">Nutrition</option>
		 	<option value="babycare">Baby Care</option>
	 	</select>
	</label>

	<label>
		<span>subscribe to our newsletter</span>
		<input type="radio" name="subscribe" value="yes">Yes
		<input type="radio" name="subscribe" value="no">No
	</label>

	<label>
		<span>your favorite squirrel is</span>
		<input type="checkbox" name="squirrels" value="grey">Grey
		<input type="checkbox" name="squirrels" value="red">Red
		<input type="checkbox" name="squirrels" value="brown">Brown
		<input type="checkbox" name="squirrels" value="black">Black
	</label>

 	<label>
 		<span>message</span>
		<textarea name="message"></textarea>
	</label>

	<button type="submit">Send
	</button>
</form>
 -->