<h1>Hello squirrel lovers!</h1>

<p>
	I would love to tell you a short, cute story about how all this started.
</p>

<p>
	My family lives in a small house surrounded by trees and lots of squirrels.
	We all love our little, playfull "neighbours"!
	<!--include smiley face-->
	Last summer in July we got home after a short trip and found a baby squirrel
	under our tree laying in the grass, cold and completelly unresponsive. First, we thought
	he was dead and decided to bury him under the tree so we started digging a hole.
</p>

<p>
	What a wonderful surprise we all had when I picked the baby, held him in my hands
	and seconds later he started to move! Words cannot explain our excitement knowing he is
	still alive, well barelly alive. Now, here we all are, standing by the tree and dealling
	 with another dilema: What should we do? Who should we call? Does anyone knows anything about
	 squirrels?
</p>

<p>
	All I can tell you is that what followed only brought us joy, love and happines.
	We decided to adopt, rehab, and release the baby whenever the time was right.
	We named him Lucky...and ended up calling him Munchie do to few of his silly habbits.
	<!--include smily face-->
	Today Munchie is a free squirrel, healthy and happy and I could not end my story
	without telling you that he changed something in all of us, he made us think of squirrels
	in a totally different way. If few months ago we liked squirrels, today we LOOOOOOOVE them.
	How full of life, cute, playful, smart and simply amazing squirrels are!
</p>

