<h1>How old is your baby squirrel?</h1>

<p>
	It is important you determine the age of your baby squirrel
	for proper nutrition and care. Squirrels are high mainance
	and without the right nutrition will develop calcium deficiency
	a condition that can be fatal if untreated.
</p>

<div class="baby-age clearfix">
	<h3>Age: 0-2 weeks</h3>
	<h4>Characteristics</h4>
	<ul>
		<li>hairless</li>
		<li>eyes closed</li>
		<li>around 3 inches</li>
		<li>sleeping most of the time</li>
	</ul>
	<img class="primary" src="http://c2.staticflickr.com/4/3185/2815697668_9b27f846e8_b.jpg">
</div>

<div class="baby-age clearfix">
	<h3>Age: 3-4 weeks</h3>
	<h4>Characteristics</h4>
	<ul>
		<li>first signs of hair</li>
		<li>lower teeth are emerging</li>
		<li>eyes closed</li>
		<li>sleeping most of the time</li>
	</ul>
	<img class="primary" src="http://whatdidyoueat.typepad.com/photos/uncategorized/2007/08/24/img_7347.jpg">
</div>

<div class="baby-age clearfix">
	<h3>Age: 5 weeks</h3>
	<h4>Characteristics</h4>
	<ul>
		<li>covered with hair</li>
		<li>eyes are opening</li>
		<li>upper teeth are emerging</li>
		<li>starting to nibble on solid food</li>
		<li>more active</li>
	</ul>
	<img class="primary" src="images/3585.jpg">
</div>

<div class="baby-age clearfix">
	<h3>Age: 6-7 weeks</h3>
	<h4>Characteristics</h4>
	<ul>
		<li>thicker fuller tail</li>
		<li>walking and playing</li>
		<li>acting scared at humans</li>
		<li>eatting solid food</li>
	</ul>
	<img class="primary" src="http://usercontent1.hubimg.com/5943680_f260.jpg">
</div>

<div class="baby-age clearfix">
	<h3>Age: 8-10 weeks</h3>
	<h4>Characteristics</h4>
	<ul>
		<li>bushy tail</li>
		<li>extremely active</li>
		<li>looking more muscular</li>
		<li>gives up formula around 10 weeks</li>
	</ul>
	<img class="primary" src="http://www.wildthingssanctuary.org/uploads/3/3/8/0/338027/2764227.jpg">
</div>

<div class="baby-age clearfix">
	<h3>Age: 11-16 weeks old</h3>
	<h4>Characteristics</h4>
	<ul>
		<li>extremely active</li>
		<li>looking like an adult squirrel</li>
		<li>getting ready to be released</li>
	</ul>
	<img class="primary" src="images/4141.jpg">
</div>