<h1>Nutrition</h1>

<p>
	A baby squirrel's life depends on a proper nutrition. In the wild only one third
	of the squirrels make it throught the first year. Babies are extremely
	vulnerable especially in the first few weeks. Feeding the right formula and
	later the right food will save their life.
</p>

<h2>Best formula and food</h2>

<h4>Formula</h4>

<ul>
	<li>Esbilac Powder Milk Replacer(available at pet stores or local vet)</li>
	<li>DO NOT feed a baby squirrel cow milk, goat milk, or home made formulas!</li>
</ul>

<h4>First food</h4>

<ul>
 	<li>Zupreem Primate Chow(find online)</li>
	<li>Rodent blocks do not always provide nutrients for proper growth!</li>
</ul>

<h4>Fruits and vegetables</h4>

<ul>
	<li>avocado, broccoli, green beans,squash, cucumber, tomatoes, okra</li>
	<li>peas, pepper ,lettuce, cauliflower, mushrooms, carrots, corn(little bit), sweet potatoe, etc</li>
	<li>apple, grapes, peach, strawberries, berries, nectarine, banana</li>
	<li>kiwi, pear, cherries, mango, cantaloupe, watermelon, fig, pineapple, etc </li>
</ul>

<h4>Nuts and seeds</h4>

<ul>
	<li>pecans, walnuts, hazelnuts, almonds, sunflower seeds, acorns</li>
	<li>Feed all nuts and seeds in small amounts to avoid calcium deficiency!</li>
</ul>
