<div class="module sweet-moments">
	<h3>Sweet Moments</h3>
	<div class="main">
		<img src="images/3615.jpg" class="primary">
		<hr>
		<!--
		<img src="images/3665.jpg" class="primary">
		<hr>
		<img src="images/3700.jpg" class="primary">
		<hr>
		-->
		<img src="images/4026.jpg" class="primary">
		<hr>
		<!--
		<img src="images/4043.jpg" class="primary">
		<hr>
		<img src="images/4134.jpg" class="primary">
		<hr>
		-->
		<!-- <video class="primary" controls>
			<source src="https://youtu.be/SqO_XrA1_yo">
		</video> -->
		<iframe
			allowfullscreen
			frameborder="0"
			class="video primary"
			src="https://www.youtube.com/embed/SqO_XrA1_yo">
		</iframe>
	</div>
</div>