form.vertical label {
	display: block;
	margin-bottom: 20px;
}

form.vertical label span {
	display: block;
	margin-bottom: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: grey;
}

form.vertical input[type="text"],
form.vertical select,
form.vertical textarea {
	width: 200px;
}

form.vertical label span::after {
	content: ":";
}

form.vertical textarea {
	height: 200px;
	width: 400px;
}

